@model Rent_a_Car.Models.Rent

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Rent</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CarId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CarId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StartDay)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StartDay)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EndDay)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EndDay)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-outline-primary" asp-action="Edit" asp-route-id="@Model?.Id">
        Edit
    </a> |
    <a class="btn btn-outline-primary" asp-action="Index">
        Back to List
    </a>
</div>
